* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box; }

h1 {
  line-height: 34px;
  font-weight: 600; }
hr{
  display: none
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.toast-position {
  position: absolute;
  top: 100px;
  right: 20px;
}

/* HEADER STATUS */

.header-mobile {
  display: none;
}

/*HEADER + NAVBAR*/

header {
  height: 80px;
  background: #1A1A19; }
  nav a{
    color:#FCF8F3 ;
  }
  .dropdown-toggle::after {
    content: none;
}

.head {
  height: 80px;
}

.navbar {
  padding: 0 !important;
}
  
  .navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
    margin-left:10px;
    margin-right:10px;
  }
  .navbar-nav li:hover>ul.dropdown-menu{
    display:block;
  }
  
  .dropdown-submenu{
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu{
    top: 0px;
    margin-top: -5px;
    left:100%;
    width: 570px;
    background: #FCF8F3;
  }

  .heightMenu{
    top: -65px !important;
  }
 
  .Item-1{
    margin-left: 10px;
    width: 90%;
  }
  .Item-2{
    margin-left: 10px;
    width: 120%;
  }


nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  nav img {
    height: auto;
    width: 158px; }
  nav .nav-item a {
    color: #FCF8F3;
    display: block;
    height: 80px;
    text-decoration: none;
    font-size: 15px;
    line-height: 75px; }
  nav .nav-item .cart-icon {
    font-size: 19px; }
 
.mega-Menu{
  list-style: none;
  padding: 10px;
  margin: auto;
}



/*CARDS*/

.cartel-info {
  background: #FCF8F3;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .cartel-info .iconify {
    font-size: 24px !important;
    margin-right: 10px !important;
    vertical-align: -5px !important; }
  .cartel-info p {
    display: inline;
    font-size: 14px;
    font-weight: 500; }

.btn-principal {
  display: block;
  background: #1A1A19;
  color: #FEFEFE;
  width: 297px;
  height: 53px;
  padding: 12px 24px;
  border-radius: 3.69px;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.25);
  text-align: center;
  text-decoration: none;
  line-height: 30px; }

.btn-principal:hover {
  color: #FEFEFE;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.5); }

.btn-card {
  background: transparent;
  color: #FCF8F3;
  border: 1px solid #FCF8F3;
  box-sizing: border-box;
  border-radius: 4px;
  width: 166px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 24px !important;
}

.btn-card:hover {
  color: #FCF8F3; }

.card-list {
  display: flex;
  justify-content: space-between; }

  #card-maniqui {
    background-image: linear-gradient(180deg, rgba(26, 26, 25, 0) 19.79%, #1A1A19 73.44%), url("../images/maniquies.png");
    background-repeat: no-repeat;
    background-size: cover;  
  }

  #card-modista {
    background-image: linear-gradient(180deg, rgba(26, 26, 25, 0) 19.79%, #1A1A19 73.44%), url("../images/modistas.png");
    background-repeat: no-repeat;
    background-size: cover;  
  }

  #card-equipamiento {
    background-image: linear-gradient(180deg, rgba(26, 26, 25, 0) 19.79%, #1A1A19 73.44%), url("../images/equipamiento.png");
    background-repeat: no-repeat;
    background-size: cover;
  
  }

.card-categoria {
  height: 464px;
  width: 354px;
  filter: drop-shadow(0px 5px 15px rgba(26, 26, 25, 0.15)); 
}

 .card-content {
  display: flex;
  flex-direction: column-reverse;
  height: 100%; 
  align-content: flex-start;
  
  }

  .card-content-align {
    height: fit-content;
  }
    .card-categoria .card-content p {
      padding: 0 27px;
      color: #FCF8F3; }
    .card-categoria .card-content .card-title {
      font-size: 24px;
      font-weight: 500; }
    .card-categoria .card-content a {
      margin: 0 auto;
      font-weight: 500; }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px; 
  margin-bottom: 88px;}
  .hero p {
    display: block;
    width: 85%;
    margin-top: 18px; }


  .product-card {
    width: 260px;
    height: fit-content;
    border: 0.5px solid #CCCCCC;
    margin-bottom: 88px;
  }

  .product-card-image {
    width: inherit;
    height: fit-content;
  }

  .product-card-image img {
    width: 100%;
  }


  .product-card:hover {
    cursor: pointer;
  }

  .product-card-content {
    padding: 10px;
    box-sizing: border-box;
  }

  .body-card {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0 !important;
  }

  .body-price {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0 !important;
    color: #5F5C59
  }



/*FORMULARIO*/

p a{
  color: #1A1A19;
  font-weight: bold;
  text-decoration: underline;
}

.formulario{
  margin-top: 88px;

}

form{
width: 732px;
height: fit-content;
margin: 0 auto;
}

form p{
  margin-bottom: 3px;
  margin-top: 20px;
}

.contacto-submit{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
width: 541px;
height: 53px;
margin: 80px auto 100px auto;
background: #CCCCCC;
box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.25);
border-radius: 3.7;
border: none;
outline: none;

}

/*FOOTER*/
footer {
  color: white;
  background-color: #1A1A1A;
  height: fit-content;
  margin-top: 88px;
}

.container {
  padding:12px;
}

footer div nav ul li{
  line-height: 22px;
  margin: 10px;

}

.SizeCont{
  font-size: 75%;
}

/* CATALOGO */

@-moz-keyframes fix {
  from { padding-right: 1px; } 
  to { padding-right: 0; } 
}

.breadcrumb {
  background-color: #FFF !important;
  margin-top: 10px;
}

.breadcrumb-item a{
  color: #000 !important;
  text-decoration: none;

}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.breadcrumb-item:first-letter {
  text-transform: uppercase;
}

.product-list a {
  text-decoration: none;
  color: #1A1A19
}

/* DETALLE DEL PRODUCTO */

.product-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product-images {
  width: 420px;
  height: fit-content;
}

.product-info {
  width: 550px;
  height: fit-content;
}

.slider-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image-preview {
  width: 100px;
  height: 100px;
  margin-top: 28px;
  border: 0.5px solid #CCCCCC;
}

.active-img {
  border: 1px solid #1A1A19;
}

.image-preview:hover {
  cursor: pointer;
  border: 1px solid #1A1A19;
}

.product-title {
  font-size: 36px;
  line-height: 43,88px;
  font-weight: 500;
  margin-bottom: 4px;
}

.divider {
  width: 100%;
  border: 0.5px solid #CCCCCC;
}

.product-price {
  font-weight: 400;
  font-size: 36px;
  color: #5F5C59;
  line-height: 44px;
  margin-top: 16px;
}

.qty {
  width: 150px;
  height: fit-content;
  margin-top: 14px;
  display: block;
}

.qty p {
  font-size: 1.5rem;
}

.qty-controller {
  background-color: #C4C4C4;
  width: 34px !important;
  display: inline-block;
  border: 0.5px solid #CCCCCC;
}

#quantityInput {
  width: 61px !important;
  display: inline-block;
  text-align: center;
  border: 0.5px solid #E9E5E5;
}

.add-to-cart {
  margin: 42px 0;
  width: 381px;
  height: 62px;
  background: #CCCCCC;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  }

  .add-to-cart:hover:enabled {
    background: #1A1A19;
    color: #FFF;
  }

  #description {
    margin-top: 10px;
  }

  #description h3{
  font-size: 34px;
  font-weight: 400;
  color: #1A1A19;
  }

  #description ul {
    list-style: none;
    padding-left: 0;
  }

  #description li {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: #5F5C59;
    margin-top: 14px;
    font-weight: 400;
  }

  /* COMUNES PAGINAS DE CONTENIDO */

  .section-title-h1 {
    font-weight: 500;
    font-size: 36px;
  }

  .contenido {
    margin-top: 44px;
  }
  
/* PREGUNTAS FRECUENTES */


.accordion {
  margin-top: 44px;
}

.accordion-button:focus {
  box-shadow: none;
}

.style1{
  text-decoration: none;
}

.list-unstyled li a {
  text-decoration: none;
}

/*VIEW CONTACTO*/

.estiloC{
  display: flex;
  flex-direction: column;
}

.estiloC a{
    color: #0060B6;
    text-decoration: none;

}
.estiloC a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}
.estiloC a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.estiloB{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}
.estiloB .iconify {
  font-size: 24px !important;
  margin-top: 10px;
  margin-bottom: 10px; 
}
.estiloB p {
  font-weight: 500;
  width: 30%;
  padding: 10px;
}

.sizeCont2{
  font-size: 90%;
}

/*VIEW SOBRE NOSOTROS*/

.photo-size{
  width: 100px;
  height: 100px;
}

.carousel .carousel-inner .carousel-item img{
  width:543px;
  height: 420px;
}

.carousel-indicators li{
  border-radius: 100%;
  background-color:#8B8B8B;
  width: 16px;
  height: 16px;
  margin: 5px;
  position: relative;
  top: 60px;
}
.estilo-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px; 
  margin-bottom: 88px;}
.estilo-carousel  .show-on p {
  display: block;
  width: 85%;
  margin-top: 18px; 

}
.estilo-mapa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px; 
  margin-bottom: 88px;
}
.estilo-mapa h1 {
  width: 85%;
  margin-top: 18px;
  margin-right: 250px; 
}

.estilo-mapa p {
  display: block;
  margin-top: 25px; 
}
.horario{
  position: relative;
  top:-25px;
  left: 80px;
}

.titulo-socialmedia{
  display: flex;
 justify-content: center;
}
.logo-socialmedia{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  }
.logo-socialmedia a{
  color: #0060B6;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.logo-socialmedia .iconify{
  font-size:  65px;
}

.logo-socialmedia a:hover {
color:#00A0C6; 
text-decoration:none; 
cursor:pointer;  
}
.logo-socialmedia a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;

}
.show-off{
  display: none;
}

/* CARRITO */

.table {
  margin-top: 44px;
}

.table .qty {
  margin-top: 0;
}

.product-info-2 img {
  display: inline;
  width: 120px;
  height: auto;
}

.product-info-2 p {
  display: inline;
  margin-left: 21px;
}

.step1 .add-to-cart {
  margin: 0 auto !important;
  display: block;
}

.delete-btn:hover {
  cursor: pointer;
}

#back:hover {
  cursor: pointer;
}

td, .center {
  text-align: center;
}

.last-step {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.full {
  width: 100%;
}

.last-step .form {
  width: 50%;
}

.last-step form {
  width: 100%;
}

.resume {
  width: 45%;
}

.resume-product {
  margin: 16px 0;
  padding-bottom: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.resume-product img {
  display: inline-block;
  width: 125px;
  margin-right: 24px;
}

.resume-details {
  display: inline-block;
  width: 65%;
}

.grey {
  color: #5F5C59;
  font-weight: 400;
}

.form .grey {
  font-size: 20px;
  margin: 32px 0;
}

.form h3 {
  margin: 32px 0;
}

.resume-title {
  color: #1A1A19;
  font-weight: bold;
}

/* PAGINA DE ÉXITO */

.bold {
  color: #1A1A19;
  font-weight: 600;
  padding: 24px 0;
}

.page-exito {
  margin: 44px auto;
}




/*RESPONSIVE*/

@media screen and (max-width: 576px){
  hr{
    display: block;
    background-color: #8B8B8B;
    margin-top: 2px;
  }
  /*HEADER + NAVBAR*/
  .navbar-nav > li{
    padding-left: 5px;
    margin-left: 5px;
  }
 .navbar-nav{
   position: absolute !important;
   background-color: #1A1A19;
 }


 /*CARDS*/

 .hero{
   display: flex;
   flex-direction: column-reverse;
 }
 .hero-img img{
   width: 350px;
   height: 280px;
   margin: 0
 }
 .info{
   margin-top:50px;
 }



 .card-list{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .card-categoria {
  height: 460px;
  width: 320px;
  margin: 20px ; 

}


/*FORMULARIO*/
form{
  width: 300px;
}
.contacto-submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 300px;
  height: 53px;
  margin: 80px auto 100px auto;
  background: #CCCCCC;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.25);
  border-radius: 3.7;
  border: none;
  outline: none;
}

/*VIEW SOBRE NOSOTROS */
.show-on{
  display:none;
}

.show-off{
  display: inline;
  margin-top: 30px;
  margin-bottom: 10px;
}
.show-off h1{
  display:flex;
  flex-direction: row;
}
.carousel .carousel-inner .carousel-item img{
  width: 340px;
  height: 240px;
}
.carousel-indicators li{
  top: 60px;
}

.show-off p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.estilo-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 22px; 
  margin-bottom: 0px;
}

.no-show{
  display:none;
}

.estilo-mapa{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  margin-bottom: 60px;
}
.estilo-mapa .info{
  margin-right: 50px;
}
.info h1{
  margin-right: 50px;
}
.estiloA{
  padding-top: 0;
  margin-top: 0;
}

.hero-img iframe{
  width: 350px;
  height: 210px;
}

.titulo-socialmedia h1{
  font-size: 170%;
}
.logo-socialmedia .iconify{
  font-size: 45px;  
}

/*VIEW CONTACTO*/

.estiloB{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
  
}
.estiloB p{
  display: flex;
  flex-direction: row;
  align-self: start;
  width: 300px;

}


/* CATALOGO */

.product-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-images{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-images img{
  width: 335px; 
}

.slider-gallery{
  justify-content: space-around;
  align-self:stretch;
}



.add-to-cart{
  width: 90%;
  margin-left: 20px;
}

.product-title{
  margin-top: 25px;
}

.product-price{
  margin-bottom: 10px;
  margin-left: 10px;
}

.product-info .product-title{
  margin-left: 10px;
}

.qty{
  display:flex;
  flex-direction: row;
  margin-left: 10px;
  width: fit-content;
}

.qty p {
  margin-right: 10px;
}

.qty button{
  height: 25px;
  margin-top: 8px;
}

#quantityInput{
  height: 25px;
  margin-top: 8px;
}

#description{
  margin-left: 15px;
}


.last-step .form{
  width: 100%;
}

.last-step .form p{
  margin-left: 0px;
  width: 300px;
  font-size: 100%;
}

.last-step .form h3{
  margin-left: 0px;
  width: 300px;
  font-size: 120%;
  font-weight: bold;
}


.form-group{
  margin-left: 20px;
  width: 90%;
}

.resume{
  margin-left: 20px;
}
.resume-product img{
  margin-right: 10px;
}

.resume-title{
  line-height: 20px;
  width: 130px;
}


/*FOOTER*/
footer{
   height:fit-content;
 };
}

  /* CAMBIA EL HEADER A MOBILE */

@media all and (max-width: 990px) {

.header-desktop {
  display: none;
}

/* HEADER MOBILE */

.header-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header-mobile .hamburger, .header-mobile .carrito-mobile {
  height: fit-content;
  padding: 15px 0;
}

.header-mobile .iconify {
  color: #FFF;

}

.menu-mobile {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #1A1A19;
  display: flex;
  flex-flow: column nowrap;
  color: #FCF8F3;
}

.menu-mobile a {
  text-decoration: none;
}

.mobile-menu-action {
  padding: 20px 10px;
  text-align: end;
}

.mobile-menu-item {
  border-bottom: 0.5px solid #CCCCCC;
  margin-top: 20px;
}

.mobile-menu-item p {
  margin: 5px;
  color: #FCF8F3;

}

}

@media all and (max-width: 767px) {
  .last-step .form {
    width: 100%;
  }
  
  
  .resume {
    width: 100%;
  }


.resume-product {
  width: 100%;
}

.resume-product img {
  width: 50px;
  margin-right: 12px;
}


}

@media screen and (min-width: 580px) and (max-width: 990px) {
  hr{
    display: block;
    background-color: #8B8B8B;
    margin-top: 2px;
  }
  /*HEADER + NAVBAR*/
  .navbar-nav > li{
    padding-left: 5px;
    margin-left: 5px;
  }
 .navbar-nav{
   position: absolute !important;
   background-color: #1A1A19;
 }


 /*CARDS*/

 .hero{
   display: flex;
   flex-direction: column-reverse;
 }
 .hero-img img{
   width: 600px;
   height: 420px;
   margin: 0
 }
 .hero .info{
   margin-top:50px;
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 .hero .info h1{
   margin-left: 50px;
 }
 .card-list{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .card-categoria {
  height: 480px;
  width: 335px;
  margin: 20px ; 
}
/*FORMULARIO*/
form{
  width: 550px;
}
.contacto-submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 400px;
  height: 53px;
  margin: 80px auto 100px auto;
  background: #CCCCCC;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.25);
  border-radius: 3.7;
  border: none;
  outline: none;
}

/*VIEW SOBRE NOSOTROS */
.show-on{
  display:none;
}

.show-off{
  display: inline;
  margin-top: 30px;
  margin-bottom: 10px;
}
.carousel{
  width: 600px;
  height: 420px;
  margin-left: 50px;
}

.estilo-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px; 
  margin-bottom: 0px;
}

.carousel-indicators li{
  right: 30px;
}

.show-off p{
  width: 550px;
  margin-top: 20px;
}

.no-show{
  display:none;
}

.estilo-mapa{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
}
.estilo-mapa .info{
  margin-right: 50px;
}
.info h1{
  margin-right: 50px;
}

.hero-img iframe{
  width: 500px;
  height: 300px;
}

.logo-socialmedia .iconify{
  font-size: 60px;  
}

/*VIEW CONTACTO*/



/*FOOTER*/
footer{
   height: fit-content;

 }
 .SizeCont{
   font-size: 60%;
 }

}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .card-categoria {
    height: 424px;
    width: 300px;
    margin: 20px ; 
  
  }
}

@media all and (max-width: 425px) {
  .product-card {
    width: 85%;
    margin: 0 auto 88px auto;
  }
}