* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box; }

h1 {
  line-height: 34px;
  font-weight: 600; }

/*HEADER + NAVBAR*/

header {
  height: 80px;
  background: #1A1A19; }
  nav a{
    color:#FCF8F3 ;
  }
  .dropdown-toggle::after {
    content: none;
}
  
  .navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
    margin-left:10px;
    margin-right:10px;
  }
  .prueba{
      left: 100%;
      position: absolute;
      top: 0;
      display:none;
      margin-top: -1px;
      border-top-left-radius:0;
      border-bottom-left-radius:0;
      border-left-color:#fff;
      box-shadow:none;
  }
  .prueba2{
      left: 100%;
      position: absolute;
      top: 10px;
      display:none;
      margin-top: 10px;
      border-top-left-radius:0;
      border-bottom-left-radius:0;
      border-left-color:#fff;
      box-shadow:none;
  }
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  nav img {
    height: auto;
    width: 158px; }
  nav .nav-item a {
    color: #FCF8F3;
    display: block;
    height: 80px;
    text-decoration: none;
    font-size: 15px;
    line-height: 75px; }
  nav .nav-item .cart-icon {
    font-size: 19px; }

/*CARDS*/

.cartel-info {
  background: #FCF8F3;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .cartel-info .iconify {
    font-size: 24px !important;
    margin-right: 10px !important;
    vertical-align: -5px !important; }
  .cartel-info p {
    display: inline;
    font-size: 14px;
    font-weight: 500; }

.btn-principal {
  display: block;
  background: #1A1A19;
  color: #FEFEFE;
  width: 297px;
  height: 53px;
  padding: 12px 24px;
  border-radius: 3.69px;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.25);
  text-align: center;
  text-decoration: none;
  line-height: 30px; }

.btn-principal:hover {
  color: #FEFEFE;
  box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.5); }

.btn-card {
  background: transparent;
  color: #FCF8F3;
  border: 1px solid #FCF8F3;
  box-sizing: border-box;
  border-radius: 4px;
  width: 166px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 24px !important;
}

.btn-card:hover {
  color: #FCF8F3; }

.card-list {
  display: flex;
  justify-content: space-between; }

.card-categoria {
  height: 464px;
  width: 354px;
  background-image: linear-gradient(180deg, rgba(26, 26, 25, 0) 19.79%, #1A1A19 73.44%), url("../images/maniquies.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 5px 15px rgba(26, 26, 25, 0.15)); }
  .card-categoria .card-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px; }
    .card-categoria .card-content p {
      padding: 0 27px;
      color: #FCF8F3; }
    .card-categoria .card-content .card-title {
      font-size: 24px;
      font-weight: 500; }
    .card-categoria .card-content a {
      margin: 0 auto;
      font-weight: 500; }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px; }
  .hero p {
    display: block;
    width: 85%;
    margin-top: 18px; }

  .product-card {
    width: 260px;
    height: fit-content;
    border: 0.5px solid #CCCCCC;
    margin-bottom: 88px;
    min-height: 438px;
  }

  .product-card-image {
    width: 260px;
    height: 351px;
  }

  #INSERTAR-NOMBRE {
    background-image: url('../images/maniquies.png');
  }

  #INSERTAR-NOMBRE:hover {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)), url("../images/maniquies.png");
  }

  .product-card-content {
    padding: 10px;
    box-sizing: border-box;
  }

  .body-card {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0 !important;
  }

  .body-price {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0 !important;
  }


  .hidden-content {
    display: none;

  }

  .product-card-image:hover + .hidden-content {
    display: block;
  }


  .body-text-viewmore {
    color: red;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0 !important;
    text-align: center;
  }

  .hidden-content .iconify {
    font-size: 50px !important;
    color: red !important;
    
  }


/*FORMULARIO*/

p a{
  color: #1A1A19;
  font-weight: bold;
  text-decoration: underline;
}

.formulario{
  margin-top: 50px;
}
form{
position: absolute;
width: 732px;
height: 66px;
left: 254px;
top: 1300px;
}
form p{
  margin-bottom: 3px;
  margin-top: 20px;
}
.contacto-submit{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
position: absolute;
width: 541px;
height: 53px;
margin-top: 80px;
left: 100px;
margin-bottom: 100px;
background: #CCCCCC;
box-shadow: 0px 5px 15px rgba(26, 26, 25, 0.25);
border-radius: 3.7;
}

/*FOOTER*/
footer {
  color: white;
  background-color: #1A1A1A;
  width: 100%;
  height: 268px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 360%;
}

.container {
  padding:12px;
}

footer div nav ul li{
  line-height: 22px;
  margin: 10px;

}

/* CATALOGO */

.breadcrumb {
  background-color: #FFF !important;
}

.breadcrumb-item a{
  color: #000 !important;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}