.cartel-info {
    background: $cream;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .iconify {
        font-size: 24px !important;
        margin-right: 10px !important;
        vertical-align: -5px !important;
    }
    p {
        display: inline;
        font: {
            size: 14px;
            weight: 500;
        }
    }
}