header {
    height: 80px;
    background: $black;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    img {
        height: auto;
        width: 158px;
    }

    .nav-item {

        a {
            color: $cream;
            display: block;
            height: 80px;
            text: {
                decoration: none;
            }
            font: {
                size: 15px;
            }
            line-height: 75px;
        
        }

        .cart-icon {
            font-size: 19px;
        }
    }


}


